{% extends "layout.html" %}

{% block main %}
    <div class="card p-5 mx-auto" style="max-width: 600px;">
        <h3>Help me distinguish them!</h3>
        <p class="lead">
            What is a question where the answer is <strong>YES</strong> for <em>{{ new_game }}</em>?
        </p>

        <form action="/add_question" method="post">
            <div class="mb-3">
                <input type="text" name="question" class="form-control" placeholder="e.g. Is it a Soulslike game?" required>
            </div>

            <input type="hidden" name="side" value="yes">

            <button class="btn btn-success" type="submit">Teach Me</button>
        </form>
    </div>
{% endblock %}
